/*.content-container {
    margin: 0;
    padding: 0;
    position: relative;
}

.content-container::before,
.content-container::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-width: 10px;
    border-style: solid;

}

.content-container::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
    border-image: linear-gradient(45deg, red, yellow);
    border-image-slice: 1;
}

.content-container::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
    border-image: linear-gradient(135deg, red, yellow);
    border-image-slice: 1;
}*/

.content-container {
    border: 12px solid transparent;
    border-radius: 24px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #FF52E5, #F6D242) border-box
    ;
}