/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.contents{
    margin-top: 3rem;
    height: 100vh;
}

.leftCardMenu {
    width: 100%;
    text-align: center;
    height: 35rem;
    justify-content: center;
    position: sticky;
    border-radius: 3%;
    margin-bottom: 10px;
}

  @media (min-width: 992px) {
    .leftCardMenu {
      width: 18rem;
    }
  }


.card-img {
    width: 120px;
    border-radius: 50%;
    margin-top: 1rem;
}

.content-container{
    background-color: white;
    justify-content: center;
    border: none;
}


  @media (min-width: 992px) {
    main{
      margin-left: -50px;
      margin-bottom: 20px;
    }
  }

.content-container .card-body{
    padding: 50px;
}

.social-icons{
    margin-bottom: 8%;
}
  @media (min-width: 992px) {
    .social-icons {
      margin-top: -12px;
    }
  }
.social-icons a{
    padding: 5px;
}

.list-group p {
    padding: 8px;
    color: black;
    background-color: white;
    border-bottom: solid grey;
    width: 130px;
    margin:0 auto;
}

.projectImg{
    width: 350px;
}

.certificateContent{
    padding: 20px;
}

.certImg{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 4px #000000;
}

.certTitle{
    text-align: center;
}


/*.main-container {
    margin-bottom: 3%;
}*/